.aex-header {
    margin: 48px 20px 48px 20px;
}

.aex-resource>div {
    display: inline-block;
}

.aex-resource .subtitle {
    margin-left: 20px;
}

.aex-doc-section img {
    box-shadow: 0 0 10px #cccccc;
    border-radius: 6px;
}

@media screen and (max-width: 769px) {
    .section {
        padding: 28px;
    }

    .columns .aex-resource:first-child {
        margin-bottom: 40px;
    }
}